.customCard {
  position: relative;
  width: 365px;
  height: 365px;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 30px 15px 30px 15px;
  border-radius: 5px;

  .customCard__img {
    width: 320px;
    height: auto;
  }

  .customCard__button_more {
    position: relative;
    width: 130px;
    height: 30px;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    color: white;
  }

  .customCard__button_delete {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
  }
}
