.pageContent {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageContent__flexbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  span {
    font-size: 4vh;
  }

  img {
    margin-right: 15px;
  }
}
