<app-header></app-header>
<div class="pageContent">

  <span *ngIf="errorSpan$">{{errorSpan$ | async}}</span>

  <div class="videoGroup">
    <h2>Youtube search results:</h2>
    <div class="videoGroup__listOfVideos">
      <app-video-card *ngFor="let video of infoList$ | async | sortBy: sorting:searchString | sortOrder: sorting:isInDescOrder_Date:isInDescOrder_Views" [video]="video"></app-video-card>
    </div>
  </div>

  <div class="cardsGroup">
    <h2>Custom cards:</h2>
    <div class="cardsGroup__listOfCards">
      <app-custom-video-card *ngFor="let card of customCards$ | async" [card]="card"></app-custom-video-card>
    </div>
  </div>

</div>
