<header [@headerOpenClose]="isOpen ? 'open' : 'closed'">
  <div id="headerMainContainer">
    <div id="headerSearchBar">
      <img src="../../../../assets/svg/logo.svg" alt="logo" (click)="goHome()">
      <input type="text" placeholder="What do you want to find?" id="searchbar">
      <button id="headerSearchButton" (click)="toggleList()">Search</button>
      <button id="searchingOptionsButton" (click)="toggle()"></button>
    </div>
    <div id="headerLogin">
      <span>Your name</span>
      <button id="headerLoginButton"></button>
      <button id="headerLogoutButton" *ngIf="loginService.isAuthorized" (click)="logout()">Logout</button>
      <button id="headerLogoutButton" *ngIf="loginService.isAuthorized" (click)="admin()">ADMIN</button>
    </div>
  </div>
  <app-sorting></app-sorting>
</header>
